@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 17vh;
    background-color: #c89f9cbb;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 

header img {
    width: 130px;
    height: 110px;
    border-radius: 5%;
}

 
header h1{
    font-size: 65pt;
    font-family: "Rouge Script", cursive;;
    color: rgb(77, 32, 24);
}
 
header a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Quicksand", sans-serif;
    margin: 10px;
    font-weight: bold;
    font-size: 13pt;
}
 
header a:hover{
    color: #C97C5D;
}

#tituloproductos{
    font-family: "Rouge Script", cursive;
    font-size: 50pt;
}

ul{
    font-size: 25pt;
    font-family: "Playfair Display", serif;
}

h1{
    font-family: "Rouge Script", cursive;
}



.productos{
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 40px;
}

.productos img{
    width: 550px;
    height: 600px;
}

.informacionGeneral{
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 40px;
}

.slogan{
    display: flex;
    align-items: center;
    gap: 20px;
}

.slogan img{
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 50%;
}

.slogan p{
    font-family: "Playfair Display", serif;
    font-size: 25pt;
}

.slogan h1{
    font-family: "Rouge Script", cursive;
    font-size: 50pt;

}

.quienesSomos h1{
    text-align: center;
    background-color: #C97C5D;
    color: #6d3540;
    padding: 15px;
    border-radius: 12px;
    font-size: 35px;
    font-family: "Rouge Script", cursive;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.quienesSomos p{
    width: 300px;
    background-color: #EED7C5;
    padding: 15pt;
    border-radius: 10px;
    font-family: "Quicksand", sans-serif;
    font-size: 15pt;
}

.misionVision{
    text-align: center;
    padding: 40px;
}

.misionVision p{
    width: 300px;
    padding: 15pt;
    border-radius: 10px;
    font-family: "Quicksand", sans-serif;
    font-size: 15pt;
}

.conteMision{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.caja{
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

.conteCreadoras{
    text-align: center;
    padding: 40px;
}

.creadoras{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.creadoras p{
    border-radius: 10px;
    font-family: "Quicksand", sans-serif;
}

.persona{
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;

}

.misionVision{
    text-align: center;
    margin-top: 50px;
}

.misionVision h1{
    font-size: 55px;
    color: #6d3540;
    font-family: "Rouge Script", cursive;
    margin-bottom: 40px;
}

.conteMision{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.caja{
    width: 320px;
}

.caja h2{
    background-color: #C97C5D;
    color: #6d3540;
    padding: 15px;
    border-radius: 12px;
    font-size: 35px;
    font-family: "Rouge Script", cursive;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.caja p{
    background-color: #ead7c8;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.5;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.conteCreadoras{
    text-align: center;
    margin-top: 70px;
}

.conteCreadoras h1{
    font-size: 55px;
    color: #6d3540;
    font-family: "Rouge Script", cursive;
    margin-bottom: 40px;
}

.creadoras{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.persona{
    width: 320px;
}

.persona h2{
    background-color: #c97d5a;
    color: #6d3540;
    padding: 15px;
    border-radius: 12px;
    font-size: 30px;
    font-family: "Rouge Script", cursive;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}


.persona p{
    background-color: #ead7c8;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.5;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

footer {
    width: 100%;
    height: 25vh;
    background-color: #c89f9cbb;
}

#redes {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
}

#copywright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Quicksand", sans-serif;
    font-size: 15pt;
    margin: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
#tiktok {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 17px;  
}

/*Tablet*/
@media screen and (max-width: 768px){

    header{
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .productos{
        flex-direction: column;
        text-align: center;
    }

    .informacionGeneral{
        flex-direction: column;
        text-align: center;
    }

    .slogan{
        flex-direction: column;
    }

    .productos img{
        width: 100%;
        height: auto;
    }
}


/*Mobile*/
@media screen and (max-width: 480px){

    header h1{
        font-size: 35px;
    }

    header a{
        display: block;   /* 👈 AQUÍ LO PEGASTE */
        margin: 5px;
    }

    .slogan p{
        font-size: 18pt;
        text-align: center;
    }

    .quienesSomos p,
    .caja,
    .persona{
        width: 90%;
    }

    .misionVision h1,
    .conteCreadoras h1{
        font-size: 35px;
    }

    ul{
        font-size: 18pt;
    }
}